{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <title>{% block title %}TED{% endblock title %}</title>
</head>
<body>
<header>
    <nav class="main_nav">
        <ul>
          <li><a href="{% url "home" %}">Home</a></li>
          {% if user.is_superuser %}
          <li><a href="{% url "admin:index" %}">Admin</a></li>
          {% endif %}
          {% if user.is_authenticated %}
          <li><a href="{% url "face_list" %}">Face List</a></li>
          <li><a href="{% url "logout" %}">Logout</a></li>
          {% else %}
          <li><a href="{% url "django_registration_register" %}">Signup</a></li>
          <li><a href="{% url "login" %}">Signin</a></li>
          {% endif %}
        </ul>
      </nav> 
      <h3>Welcome</h3>
</header>
  <main>
    {% block content %}
    {% endblock content%}
  </main>
  <footer>

  </footer>
</body>
</html>